#title {
    font-family: 'Playfair Display SC', serif;
    color: white;
}

.title2 {
    font-family: 'Playfair Display SC', serif;
}

.back {
    background: darkseagreen;
}

#box {
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: green;
}

.menu {
    background-color: green;
}

a {
    color: white;
}

a:hover {
    color: black;
}


footer {
    background-color: green;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('rice-field.mp3') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#send {
    position: relative;
    left: 45%;
}

.form {
    padding: 0 250px;
}

.gCal {
    position: relative;
    left: 15%;
}

.menu .is-active > a {
    background: #1779ba;
    color: black;
}
.menu .active > a {
    background: #1779ba;
    color: black;
}

.docs {
    color: rgb(51, 23, 209);
    text-decoration: underline;
}